@import '../../../common_styles/common_styles';

.services {
	min-height: 85vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: $test2;
	color: red;
	&__header {
		padding: 10vh 0;
		font-size: $navSize;
		word-spacing: 0.2vh;
		letter-spacing: 0.15vh;
		text-transform: uppercase;
	}
	&__career {
		width: 100%;
		height: 42vh;
		border: 1px solid black;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__icon-container {
		width: 25%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 0 2vw;
		background-color: $test1;
		font-size: $navSize;
	}
	&__icon {
		font-size: $testSize;
	}
	&__icon-content {
		margin-bottom: 1vh;
		text-transform: capitalize;
	}
	&__example {
		font-size: 2.3vh;
		text-align: center;
	}
}