@import '../../../common_styles/common_styles';

.services {
	min-height: 85vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: $lightBlue;
	color: $white;
	&__header {
		padding: 12vh 0;
		font-size: $navSize;
		word-spacing: 0.2vh;
		letter-spacing: 0.15vh;
		text-transform: uppercase;
	}
	&__career {
		width: 100%;
		height: 42vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__icon-container {
		width: 25%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 0 2vw;
		font-size: $navSize;
		text-align: center;
		transition: 0.4s linear;
		@media (max-width: $tablet) {
			pointer-events: none;
		}

		&:hover {
			background-color: $white;
			cursor: pointer;
			.services__icon-content {
				color: $black;
			}
			.services__icon {
				color: $lightBlue;
			}
			.services__example {
				color: $grey;
				visibility: visible;
			}
		}
	}
	&__icon {
		font-size: $iconServices;
		margin-top: 5vh;
	}
	&__icon-content {
		margin-bottom: 1vh;
		text-transform: capitalize;
	}
	&__example {
		visibility: hidden;
		font-size: 2.3vh;
		text-align: center;
	}
}

@media (max-width: $tablet) {
	.services__example {
		color: $grey;
		visibility: visible;
	}
}