@import '../../common_styles/common_styles';

@mixin hide-show {
	height: 15vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	margin: auto;
	padding: 0 10px;
	font-size: $navSize;
	letter-spacing: 0.05vw;
}

.nav {
	@include hide-show;
	opacity: 1;
	transition: 0.6s ease-in;
	&__logo {
		width: 20%;
		color: $white;
		font-size: $mainHeader;
		text-align: center;
	}
	&__list {
		width: 60%;
		display: flex;
		justify-content: center;
		list-style-type: none;
	}
}

.menu {
	margin: 0 2.3vw;
}

.hide-nav {
	@include hide-show;
	opacity: 0;
	visibility: hidden;
	transition: 0.2s linear;
}