@import '../../../common_styles/common_styles';

.menu {
	&__item-hover {
		position: relative;
		padding: 1vh 0;
		color: $test1;
		&:after {
			height: 0.5vh;
			width: 0; 
			display: block;
			position: absolute;
			margin-top: 1vh;
			background-color: $test1;
			right: 0;
			content: '';
			transition: width .5s ease;
		}
		&:hover {
			&:after {
				width: 100%;
				left: 0;
			}
		}
	}
	&__item-active {
		border-bottom: 0.5vh solid $test1;
	}
}