@import '../../common_styles/common_styles';
.nav {
	height: 15vh;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 auto;
	padding: 0 10px;
	font-size: $navSize;
	letter-spacing: 0.1vw;
	&__logo {
		width: 20%;
	}
	&__list {
		width: 60%;
		display: flex;
		justify-content: space-around;
		list-style-type: none;
	}
	&__item-hover {
		position: relative;
		padding: 1vh 0;
		color: $test1;
		&:after {
			height: 0.5vh;
			width: 0; 
			display: block;
			position: absolute;
			margin-top: 1vh;
			background-color: $test1;
			right: 0;
			content: '';
			transition: width .5s ease;
		}
		&:hover {
			&:after {
				width: 100%;
				left: 0;
			}
		}
	}
	&__item-active {
		border-bottom: 0.5vh solid $test1;
	}
}