@import '../../../common_styles/common_styles';

.jumbotron {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	background-image: url('https://data.whicdn.com/images/277379761/original.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	font-size: $mainHeader;
	color: $white;
	&__content {
		width: 100%;
		text-align: center;
		letter-spacing: 0.1vw;
		text-transform: capitalize;
	}
	&__icon {
		width: 100%;
		text-align: center;
	}
}

.blue_color {
	color: $lightBlue;
}